---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/void1499/styles/global.css">
    <title>Document</title>
</head>
<body class="w-full sm:w-3/6 flex flex-col mx-auto gap-20 text-white  py-20" >
    


    <slot/> 


    <script type="module" src="/js/index.js" ></script>

</body>
</html>