---
---

<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/void1499/styles/global.css">
    <title>🐧 Void.Dev</title>
</head>
<body class=" w-full min-h-[100vh] flex flex-col gap-20 py-10 sm:py-30  bg-dark text-white-noise ">

    <slot class="relative"></slot> 

    <script type="module" src="/void1499/js/index.js" ></script>

</body>
</html>