
body{
    background-color: #1A1E23;
}

.gradiente-1{
    border: 4px solid transparent;
    border-radius: 50em;
    border-image: linear-gradient(to right,#5D00FF, #FFB800) 1;
}



.text-color-1{
    color: #1A1E23;
}


.slide-up{

    view-timeline-name: --slide;
    view-timeline-axis: block;

    animation-timeline: --slide;

    animation: slide-up .5s ease-in-out  1 reverse both;
}



.delay-0{
    animation-delay: 0;
}

.delay-1{
    animation-delay: .1s;
}

.delay-2{
    animation-delay: .2s;
}

@keyframes slide-up {
    0% { transform: translatey(0);opacity: 100; }
    100% { transform: translatey(70px);opacity: 0; }
  }


  .slide-right{
    animation: slide-right .5s ease-in-out  1 reverse both;
}

  @keyframes slide-right {
    0% { transform: translateX(0);opacity: 100; }
    100% { transform: translateX(-70px);opacity: 0; }
  }



  .slide-left{
    animation: slide-left .5s ease-in-out  1 reverse both;
}
  @keyframes slide-left {
    0% { transform: translateX(0);opacity: 100; }
    100% { transform: translateX(70px);opacity: 0; }
  }

