@import "tailwindcss";

@theme {
  --color-dark: #2D333B;
  --color-darker: #22272E;

  --color-nebula: #4A5565;
  --color-helix: #656A6E;
  --color-white-noise: #E8E9ED;
  --color-pill: #ADB6BE;

  --color-limon-fluor: #A9D61F;
  --color-limon-dark: #2A410C
}


.scale-up{
  animation: scale-up .5s ease-in-out  1  both  ;
}

@keyframes scale-up {
   0% { transform: scale(0) }
   100% { transform: scale(1)}
}

.slide-up{
    animation: slide-up .5s ease-in-out  1 reverse both ;
}

@keyframes slide-up {
    0% { transform: translatey(0);opacity: 100; }
    100% { transform: translatey(70px);opacity: 0; }
  }


.slide-right{
    animation: slide-right .5s ease-in-out  1 reverse both;
}

  @keyframes slide-right {
    0% { transform: translateX(0);opacity: 100; }
    100% { transform: translateX(-70px);opacity: 0; }
  }



.slide-left{
    animation: slide-left .5s ease-in-out  1 reverse both;
}
  @keyframes slide-left {
    0% { transform: translateX(0);opacity: 100; }
    100% { transform: translateX(70px);opacity: 0; }
  }

.delay-0{
    animation-delay: 0;
}

.delay-1{
    animation-delay: .1s;
}

.delay-2{
    animation-delay: .2s;
}



.grid-background {
  background-image:
    linear-gradient(to right, #e5e5e5 1px, transparent 1px),
    linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
  background-size: 50px 50px; /* tamaño de las celdas */
}